@use '../abstract/app' as a;

.header{
    position: sticky;
    top: 0;
    height: 95px;
    display: flex;
    padding: 0.5rem;
    background-color: a.$background;
}
.header-wrapper{
    background-color: a.$background;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    padding: 0.5rem;
}
.logo{
    background-color: a.$background;
    margin: 0 1rem;
    margin-top: 7px;
    font-family: a.$font;

    h1{
        background-color: a.$background;
        color: a.$font-color;
        font-weight: 800;
        font-size: 25px;
    }
    .style{
        background-color: a.$background;
        font-family: a.$logo-font;
        color: a.$logo-color;
        font-size: 30px;
    }
}

.nav-bar{

    margin: 0 1rem;
    background-color: a.$background;
    font-family: a.$font;
    display: flex;
}

.tabs{
    background-color: a.$background;

    li{
        list-style: none;
        display: inline-flex;
        font-weight: 800;
        font-size: 15px;
        background-color: a.$background;
    }
    
    .a-link{
        text-decoration: none;
        display: inline-flex;
        margin: 0 20px;
        background-color: a.$background;
        color: a.$font-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .a-link:hover{
        border-bottom: 2px solid a.$font-color;
        text-decoration: none;
    }
}

.MuiSvgIcon-root {
    background-color: a.$background;
    width: 100%;
    text-align: center;
    margin: 3px 0;
}
