@use '../abstract/app' as a;

.mainheader{
    background-image: none;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.5rem;
    background-color: rgb(235, 235, 235);
    font-size: 20px;
    font-weight: 400;
    align-items: stretch;
}
.mainheader-wrapper{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 0.5rem;
}
.logo{
    margin: 0 2rem;

    .style{
        font-family: a.$logo-font;
        color: a.$logo-color
    }
}

.nav-bar{

    margin: 0 1rem;
    margin-top: 0.5rem;

    li{
        list-style: none;
        display: inline-flex;
        font-weight: 800;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        display: inline-flex;
        margin: 0 20px;
        padding: 10px;
        color: #000;
    }
    button{
        padding: 5px 15px;
        margin: 0 15px;
        border-radius: 12px;
        border: 2px solid blue;
        font-size: 19px;
    }
}