$logo-font: 'Rampart One', cursive;
$font: 'Josefin Sans', sans-serif;
// $auth-img: image-url('/assets/image/signin.jpg');
$logo-color: #0E0E52;
$background-color: #78C0E0;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rampart+One&family=Roboto+Slab:wght@100&display=swap');