$fancy-font: 'Arima Madurai', cursive;
$logo-font: 'Fleur De Leah', cursive;
$font: 'Zen Maru Gothic', sans-serif;
$logo-color: #242426;
$background-color: #000000;
$background: #fffdfd;
$font-color: #0f0f10;

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800&family=Fleur+De+Leah&family=Italianno&family=Josefin+Sans:wght@300;400;500;600;700&family=Rampart+One&family=Roboto+Slab:wght@100&family=Zen+Maru+Gothic:wght@400;500&display=swap');