$font: 'Arima Madurai', cursive;
$logo-font: 'Fleur De Leah', cursive;;
// $auth-img: image-url('/assets/image/signin.jpg');
$logo-color: #13166e;
$background-color: #1b1e42;
$background: #fffdfd;
$font-color: #06063a;

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800&family=Fleur+De+Leah&family=Italianno&family=Josefin+Sans:wght@300;400;500;600;700&family=Rampart+One&family=Roboto+Slab:wght@100&display=swap');