@use '../abstract/app' as a;

.dash-wrapper{
    margin: 2rem;
    background-color: rgb(203 211 244);
}

.dash-heading{
    margin: 5px;
    padding: 1rem;
    background-color: rgb(203 211 244);
    width: 100%;
    display: flex;
    flex-direction: column;

    .img-container{
        background-color: rgb(203 211 244);
        display: flex;
        width: 100%;
        justify-content: center;
        
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 15px;
            border: 2px solid a.$font-color;
        }
    }
    
    h1{
        font-size: 20px;
        background-color: rgb(203 211 244);
        width: 100%;
        text-align: center;
    }
    
    a{
        background-color: rgb(203 211 244);
    
        .MuiSvgIcon-root{
            background-color: rgb(203 211 244);
            border: 2px solid a.$font-color;
            border-radius: 10px;
            font-size: 35px;
            padding: 2px;
            fill: a.$font-color;
        }
    }
}



.others{
    margin: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

li{
    list-style: none;
    font-size: 15px;
    color: black;
}